{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PTT 數據分析</title>
</head>
<body>
  <header>
    <h1>PTT 數據分析</h1>
  </header>
  
  <nav>
    <font color="white">
    <ul>
      <li><a href="/search_bar" title="長條圖分析">長條圖分析</a></li>
      <li><a href="/search_heatmap" title="熱力圖分析">熱力圖分析</a></li>
      <li><a href="/search_keyword" title="百分比餅圖分析">百分比餅圖分析</a></li>
      <li><a href="/orm/user_info_list" title="專案二">專案二</a></li>
    </ul>
    </font>
  </nav>

{% block content %}{% endblock %}


<p>
<br>
<footer>
  <p>尾頁</p>
</footer>

</body>
</html>