{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.3/css/bootstrap.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/orm/user_info_list/">專案二</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/orm/user_info_list/">員工管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/orm/orm_department_info_list/">部門管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home_page_logged/">返回專案一</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>