{% extends 'orm_base.html' %}

{% block content %}
<div>
    <p></p>
    <div class="container">
        <div style="margin-bottom: 20px;">
            <a href="/orm/orm_department_add" class="btn btn-secondary">新增</a>
        </div>
          <div class="card">
            <h5 class="card-header">PTT部門資料</h5>
            <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Department Name</th>
                <th scope="col">Department Member</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data_list %}
                <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.depart_name }}</td>
                <td>{{ data.depart_member }}</td>
                <td>
                    <a class="btn btn-secondary" href="/orm/orm_department_edit/{{ data.id }}">Edit</a>
                    <a class="btn btn-danger" href="/orm/orm_department_delete/?depart_id={{ data.id }}">Delete</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}