{% extends 'orm_base.html' %}

{% block content %}
<div>
    <p></p>
    <div class="container">
        <div style="margin-bottom: 20px;">
            <a href="/orm/orm_department_info_list/" class="btn btn-secondary">返回</a>
        </div>
          <div class="card">
            <h5 class="card-header">修改PTT部門資料</h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label class="form-label">Edit Department Name</label>
                      <input type="text" class="form-control" name="depart_name" value="{{ depart_name }}">
                      <div id="contentHelp" class="form-text">Input the department name.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Edit Department Member</label>
                        <input type="text" class="form-control" name="depart_member" value="{{ depart_member }}">
                        <div id="contentHelp" class="form-text">Input the department member count.</div>
                    </div>
                    <button type="Submit" class="btn btn-primary">修改</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}