{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <section>
      <p><font color="gray">
      <h2>主題區塊二</h2>
      <p>這是主題區塊二的內容。</p>
      <form action="/test.aspx" method="post">
        <label>選擇一個選項:</label>
        <br>
        <input type="radio" id="apple" name="a" value="apple">
        <label for="apple">Apple</label>
        <input type="radio" id="ball" name="a" value="ball">
        <label for="ball">Ball</label>
        <input type="radio" id="cat" name="a" value="cat">
        <label for="cat">Cat</label>
        <br>
        <label>選擇多個選項:</label>
        <br>
        <input type="checkbox" id="orange" name="b" value="orange">
        <label for="orange">Orange</label>
        <input type="checkbox" id="banana" name="b" value="banana">
        <label for="banana">Banana</label>
        <input type="checkbox" id="grap" name="b" value="grap">
        <label for="grap">Grap</label>
      </form>
    </section>

    <section>
      <p>Input Category and Ttitle</p>
      <form method="get" action="/insert_data/">
        <p>Category: <input type="text" name="category"
        <br>
        <p>Ttile: <input type="text" name="title"
        <br>
        <p>Pop: <input type="text" name="pop"
        <br>
        <p>Author: <input type="text" name="author"
        <br>
        <p>Date: <input type="text" name="date"
        <br>
        <p>Current_page_index: <input type="text" name="current_page_index"
        <br>
        <p><input type="submit" name="button" value="Submit"/>
      </form>
      </font>
    </section>
  </main>
{% endblock %}