{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <section>
      <p><font color="gray">
      <h2>長條圖</h2>
      <p>文章類別分佈：</p>
      <p>分析不同文章類別所佔的比例，了解八卦版的主要討論方向。</p>
      <p>探討不同類別文章的熱門度，找出最受歡迎的文章類別。</p>
      <br>
      <form id="search-form" method="get" action="/get_bar_result/">
        <input type="checkbox" id="january" name="january" value="january">
        <label for="january">January</label>
        <input type="checkbox" id="february" name="february" value="february">
        <label for="february">February</label>
        <input type="checkbox" id="march" name="march" value="march">
        <label for="march">March</label>
        <input type="checkbox" id="april" name="april" value="april">
        <label for="april">April</label>
        <input type="checkbox" id="may" name="may" value="may">
        <label for="may">May</label>
        <input type="checkbox" id="june" name="june" value="june">
        <label for="june">June</label>
        <br>
        <br>
        <label for="start_date">Start Date:</label>
        <input type="text" id="start_date" name="start_date">
        <label for="end_date">End Date:</label>
        <input type="text" id="end_date" name="end_date">
        <br>
        <br>
        <button type="submit">Submit</button>
      </form>
        
        </font></p>
    </form>

    <div id="bar-container">
        {% if file_url %}
            <img id="bar-image" src="{{ file_url }}" alt="bar image">
        {% endif %}
    </div>
    </section>
  </main>
{% endblock %}