{% extends 'base.html' %}
{% load static %}

{% block content %}

  <main>
    <section>
      <h2>主題區塊二</h2>
      <p>這是主題區塊二的內容。</p>
      <form id="search-heatmap" method="get" action="/get_heatmap_result/">
        <label for="start_date">Start Date:</label>
        <input type="text" id="start_date" name="start_date">
        <label for="end_date">End Date:</label>
        <input type="text" id="end_date" name="end_date">
        <button type="submit">Submit</button>
    </form>

    <div id="Heatmap-container">
        {% if file_url %}
            <img id="Heatmap-image" src="{{ file_url }}" alt="Heatmap Image">
        {% endif %}
    </div>
    </section>
  </main>

{% endblock %}